<launch>
    <include file="$(find scout_base)/launch/scout_mini_base.launch" />

    <node name="yolo_traffic_ight" pkg="scout_deeplearning" type="yolo_tra.py" output="screen" />
    <node name="yolo_detect_lane" pkg="scout_deeplearning" type="yolo_lane.py" output="screen" />
    <node name="yolo_follow_lane" pkg="scout_deeplearning" type="yolo_tra_run.py" output="screen" />
    
</launch>
